.ooo-container {
    @include make-container();
    @include make-container-max-widths();
}

.ooo-container-fluid {
    @include make-container();
}

.ooo-row {
    @include make-row();
}

.ooo-no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .ooo-col,
    > [class*='ooo-col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}

@include make-grid-columns();
