.section--archive {
    a {
        display: block;
    }

    img {
        display: block;
        filter: grayscale(1);
        height: auto;
        transition: filter var(--transition-timing) var(--transition-easing);
        width: 100%;

        &:hover {
            filter: grayscale(0);
        }
    }
}
