.cover {
    display: block;
    margin-bottom: var(--gutter);
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    &__content {
        display: block;
        height: 100%;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: background-color var(--transition-timing) var(--transition-easing);
        width: 100%;
    }
}
