.section--inkstarter {
    .cover {
        align-items: stretch;

        &__content {
            @extend %background-inkstarter;

            align-items: center;
        }

        svg {
            width: 27%;
        }
    }

    img {
        display: block;
        filter: grayscale(1);
        height: auto;
        margin-bottom: var(--gutter);
        transition: filter var(--transition-timing) var(--transition-easing);
        width: 100%;

        &:hover {
            filter: grayscale(0);
        }
    }
}
