.logo {
    background-color: var(--color-foreground);
    display: flex;
    margin: 0 0 var(--spacer-5) 0;
    position: relative;
    transition: background-color var(--transition-timing) var(--transition-easing);
    width: 180px;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    a {
        align-items: center;
        bottom: 0;
        color: var(--color-background);
        display: flex;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 0;
        width: 100%;
        z-index: 2;

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: calc(var(--spacer-3) * -1);
        }
    }
}
