.menu {
    font-size: var(--font-size);
    font-style: italic;
    letter-spacing: -.05vw;
    line-height: 1.2;

    @include media-breakpoint-up(lg) {
        font-size: calc(var(--font-size) / 2);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        align-items: center;
        display: flex;
        text-decoration: none;
    }
}
