.menu {
    font-size: var(--spacer-5);
    font-style: italic;
    line-height: 1;

    ul {
        list-style-type: none;
        margin: 0 0 0 calc(var(--spacer-3) * -1);
        padding: 0;

        li {
            margin-bottom: var(--spacer-3);
        }
    }

    .link {
        align-items: center;
        display: flex;
        text-decoration: none;

        &:focus {
            &::before {
                background-color: black;
                content: '';
                height: 1px;
                left: 0;
                position: fixed;
                right: 0;
            }
        }
    }
}
