.reveal {
    display: flex;
    overflow: hidden;
    position: relative;

    > div {
        display: inline-flex;
        position: relative;
        transform-origin: center center;
        transition: transform var(--transition-timing) var(--transition-easing);
    }

    &--top {
        > div {
            transform: translate3d(0, -100%, 0);
        }
    }

    &--right {
        > div {
            transform: translate3d(100%, 0, 0);
        }
    }

    &--bottom {
        > div {
            transform: translate3d(0, 100%, 0);
        }
    }

    &--left {
        > div {
            transform: translate3d(-100%, 0, 0);
        }
    }
}

.reveal--active {
    > div {
        transition: transform calc(var(--transition-timing) * 2) var(--transition-easing);
    }

    &.reveal--top {
        > div {
            transform: translate3d(0, 0, 0);
        }
    }

    &.reveal--right {
        > div {
            transform: translate3d(0, 0, 0);
        }
    }

    &.reveal--bottom {
        > div {
            transform: translate3d(0, 0, 0);
        }
    }

    &.reveal--left {
        > div {
            transform: translate3d(0, 0, 0);
        }
    }
}
