.section {
    color: var(--color-foreground);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;

    p {
        font-size: var(--spacer-5);

        &.section__title {
            font-size: var(--spacer-6);
            letter-spacing: calc(calc(var(--letter-spacing) * 3) * -1);
            line-height: 1;
        }
    }
}

.image-hover {
    display: block;
    filter: grayscale(1);
    height: auto;
    transition: filter var(--transition-timing) var(--transition-easing);
    width: 100%;

    &:hover {
        filter: grayscale(0);
    }
}
