.section--veeews {
    display: grid;
    gap: 0% var(--gutter);
    grid-template-areas: '. .' '. .';
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr auto;
}

.veeews {
    display: flex;
    justify-content: space-between;

    &:last-child {
        p {
            margin-bottom: 0;
        }
    }
}
