@import 'placeholder';

.stories {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding-top: calc(177.777777778% + var(--font-size) + var(--spacer-5) + 2px);
    }

    &__toggle {
        align-items: center;
        background-color: var(--color-background);
        border: 1px solid var(--color-foreground);
        border-radius: 50%;
        color: var(--color-primary);
        display: flex;
        height: var(--font-size);
        justify-content: center;
        opacity: 1;
        position: absolute;
        right: var(--spacer-1);
        text-decoration: none;
        top: var(--spacer-1);
        width: var(--font-size);
        z-index: 3;

        span {
            font-size: calc(var(--font-size) + 2px);
            left: -1px;
            line-height: var(--spacer-6);
            position: relative;
            top: 1px;
        }
    }

    &__playlist {
        background-color: var(--color-background);
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        &-title {
            font-size: var(--spacer-4);
            font-weight: 700;
        }
    }

    &__meta {
        align-items: center;
        display: flex;
        padding: var(--spacer-1);

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    &__avatar {
        background-color: var(--color-foreground);
        border-radius: 50%;
        flex-shrink: 0;
        height: var(--font-size);
        margin-right: var(--spacer-3);
        object-fit: cover;
        overflow: hidden;
        width: var(--font-size);
    }

    &__date {
        color: var(--color-secondary);
        font-size: var(--spacer-3);
        letter-spacing: var(--letter-spacing);
        line-height: 2;
    }

    &__title {
        font-size: var(--spacer-3);
        letter-spacing: var(--letter-spacing);
        line-height: 1;
        text-transform: uppercase;
    }

    &__pagination {
        align-items: center;
        background-color: var(--color-background);
        display: flex;
        margin: var(--spacer-1) 0 var(--spacer-2) 0;

        &-item {
            background: rgba(119, 119, 119, .5);
            height: 2px;
            position: relative;
            width: 100%;

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }

    &__story {
        position: relative;
        z-index: 1;

        &-video {
            background: var(--color-foreground);
            position: relative;
            width: 100%;

            &::before {
                content: '';
                display: block;
                padding-top: 177.777777778%;
            }

            video {
                display: block;
                height: 100%;
                left: 0;
                object-fit: cover;
                pointer-events: none;
                position: absolute;
                top: 0;
                user-select: none;
                width: 100%;
            }
        }

        &-watched-percentage {
            background: var(--color-foreground);
            height: 2px;
            left: 0;
            position: absolute;
            top: 0;
            transition: width calc(var(--transition-timing) / 2) var(--transition-easing);
            width: auto;
        }

        &-loader {
            @extend %background-waves;

            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            user-select: none;
            width: 100%;
            z-index: 2;
        }
    }

    &__story-next {
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        right: 0;
        z-index: 3;
    }

    &__story-prev {
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        left: 0;
        z-index: 3;
    }

    &__story-next,
    &__story-prev {
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: opacity calc(var(--transition-timing) / 2) var(--transition-easing);
        width: 50%;

        &:hover {
            opacity: .7;
        }
    }
}
